apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.appName }}-config
data:
  DATABASE_URL: {{ .Values.config.database_url | quote }}
  LOG_LEVEL: {{ .Values.config.log_level | quote }}
  FEATURE_FLAGS: {{ .Values.config.feature_flags | quote }}
